<section class="{{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900 intro-banner">
  <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-1 gap-4 lg:gap-16 items-center">
    <div class="flex items-center flex-col">
      <h1 class="text-4xl text-center font-bold mb-4 text-white text-shadow">{{ .Site.Params.homepage.title }}</h1>
      <p class="font-light text-center text-lg text-white text-shadow">{{ .Site.Params.homepage.description }}</p>
    </div>
    <!-- <img class="rounded-lg" src="{{ .Site.Params.homepage.photo }}" alt="{{ .Site.Title }}" /> -->
  </div>
</section>